// Colors

$grey-lighter:   #EFEFEF;
$grey-light:     #CCCCCC;
$grey:           #707070;
$text:           #71777B;
$smoke-light:    #EDF2F7;
$smoke:          #D2D7DB;
$smoke-blue:     #F0F9FF;
$kap-red:        #DE1D24;
$kap-orange:     #E96E00;
$kap-purple:     #712C90;
$kap-green:      #00A651;
$kap-blue:       #0060B1;
$green:          #007460;
$blue-darker:    #003C73;
$blue-dark:      #004987;
$blue:           #0073BD;
$blue-light:     #98BAD6;
$white:          #FFFFFF;

$sop-green:      #7C8A4F;
$sop-lightgreen: #F0F2EA;
